<!-- navbar.component.html -->
<nav class="navbar">
    <div class="navbar-container">
      <div class="navbar-logo">
        <a (click)="landing()">Calories Counter</a>
      </div>
      <ul class="navbar-menu">
        <!-- Dashboard is visible only when logged in -->
        <li *ngIf="authService.isLoggedIn()">
          <a (click)="dashboard()">Dashboard</a>
        </li>
        <li *ngIf="authService.isLoggedIn()">
          <a (click)="profile()">Profile</a>
        </li>
        <!-- Show Login if not logged in -->
        <li *ngIf="!authService.isLoggedIn()">
          <a (click)="login()">Login</a>
        </li>
        <!-- Show Logout if logged in -->
        <li *ngIf="authService.isLoggedIn()" class = "logout">
          <a (click)="logout()">Logout</a>
        </li>
        <li *ngIf="authService.isLoggedIn()">
          <a (click)="searchFood()">Search Food</a>
        </li>
      </ul>
    </div>
  </nav>
  